@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color:rgb(60, 23, 85);
    --primary-color-darker: rgb(32, 62, 66);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;

}

.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(240, 110, 3, 0.897);
    border-radius: 15px;
}

form input, form labe, form button{
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

form input{
    font-size: 24px ;
    padding: 0 20px;
    height: 50px;
    
}

form input:focus{
    outline: 2px solid var(--primary-color);
}

form button{
    border: none;
    background-color: var(--primary-color) ;
    color: white;
    font-weight: 18px;
    height: 50px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 7px;
}

form button:hover{
    background-color: var(--primary-color-darker);
}
